@import "tailwindcss";

/* Light Theme */
:root {
  --color-bg-main: #f8f9fa;
  --color-bg-navbar: #f2f2f2;
  --color-bg-footer: #f2f2f2;
  --color-text: #1a1a1a;
  --color-accent: #e50914;
}

/* Dark Theme */
.dark {
  --color-bg-main: #0d0d0d;
  --color-bg-navbar: #1a1a1a;
  --color-bg-footer: #1a1a1a;
  --color-text: #e5e5e5;
  --color-accent: #e50914;
}

/* Global usage */
body {
  background-color: var(--color-bg-main);
  color: var(--color-text);
}

/* container */

.container {
  max-width: 90%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}
